
.tab_output {
  border: 2px solid black;
  border-collapse: collapse;
}
.tr_style {
  border:2px solid rgb(139, 50, 167);
  border-collapse: collapse;
}
.dboutput{
  border: 2px solid rgb(53, 16, 51);
  border-collapse: collapse;
}

input[type=text], select, textarea {
    
    width: 35%; 
    padding: 12px;  
    border: 1px solid rgb(140, 107, 155); 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 5px; 
    resize: vertical ;
  }

  input[type=email] {
    width: 35%; 
    padding: 12px; 
    border: 1px solid rgb(140, 107, 155);
    border-radius: 4px;
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 10px;
    resize: vertical;
  }

  
  input[type=submit] {
    background-color: rgb(158, 76, 175);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }


  input[type=submit]:hover {
    background-color: #9c00e4;
  }
  /* #45a049 */